---
import Layout from '../layouts/Layout.astro'
import { Image } from '@astrojs/image/components'

export async function getStaticPaths() {
  const posts = await Astro.glob('../../species/*.md')
  return posts.map(post => ({
    params: {
      name: post.frontmatter.url,
    },
    props: {
      post,
    },
  }))
}
const { Content, frontmatter } = Astro.props.post
---

<Layout title={frontmatter.name}>
  <div class="species">
    <h1>{frontmatter.name}</h1>
    <img src={`/${frontmatter.url}.avif`} alt={frontmatter.name} />
    <Content />
  </div>
</Layout>

<style>
  .species {
    margin: 2ch 0;
    display: flex;
    flex-direction: column;
    background-size: 400%;
  }

  img {
    border-radius: 1ch;
    width: 100%;
    opacity: 0.8;
    margin: 4ch 0 4ch;
  }
</style>
