---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Navbar from '../components/Navbar.astro'

const posts = await Astro.glob('./species/*.md')
---

<Layout title="Chilean birds">
  <Navbar />

  <p class="instructions">
    From the high Andean plateau at the edge of the most dry desert in the world
    to the current in the central Pacific coast.
  </p>
  <ul role="list" class="link-card-grid">
    {posts.map(post => <Card {...post.frontmatter} />)}
  </ul>
</Layout>

<style>
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: var(--astro-gradient);
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
