<div>
  <div class="bird-container bird-container-one">
    <div class="bird bird-one"></div>
  </div>

  <div class="bird-container bird-container-two">
    <div class="bird bird-two"></div>
  </div>

  <div class="bird-container bird-container-three">
    <div class="bird bird-three"></div>
  </div>

  <div class="bird-container bird-container-four">
    <div class="bird bird-four"></div>
  </div>
</div>

<style>
  .bird {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;

    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
  }

  .bird-one {
    animation-duration: 1s;
    animation-delay: -0.5s;
  }

  .bird-two {
    animation-duration: 1s;
    animation-delay: -0.3s;
  }

  .bird-three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
  }

  .bird-four {
    animation-duration: 1s;
    animation-delay: -0.3s;
  }

  .bird-container {
    position: absolute;
    top: 10%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .bird-container-one {
    animation-delay: 3s;
    animation-duration: 15s;
    animation-name: fly-right-one;
    z-index: 3;
  }

  .bird-container-two {
    animation-delay: 0s;
    animation-duration: 30s;
    animation-name: fly-right-two;
    z-index: -1;
    opacity: 0.5;
  }

  .bird-container-three {
    animation-delay: 11s;
    animation-duration: 14.6s;
    animation-name: fly-right-three;
    z-index: 1;
  }

  .bird-container-four {
    animation-delay: 0;
    animation-duration: 14.6s;
    animation-name: fly-right-four;
    z-index: 1;
  }

  @keyframes fly-cycle {
    100% {
      background-position: -900px 0;
    }
  }

  @keyframes fly-right-one {
    0% {
      transform: translateY(-40vh) translateX(0vw) scale(0.2);
    }
    10% {
      transform: translateY(-40vh) translateX(10vw) scale(0.3);
    }
    20% {
      transform: translateY(-40vh) translateX(20vw) scale(0.4);
    }
    30% {
      transform: translateY(-44vh) translateX(30vw) scale(0.5);
    }
    40% {
      transform: translateY(-42vh) translateX(40vw) scale(0.6);
    }
    50% {
      transform: translateY(-40vh) translateX(50vw) scale(0.6);
    }
    60% {
      transform: translateY(-40vh) translateX(60vw) scale(0.6);
    }
    100% {
      transform: translateY(-40vh) translateX(110vw) scale(0.6);
    }
  }

  @keyframes fly-right-two {
    0% {
      transform: translateY(-30vh) translateX(0vw) scale(0.1);
    }
    10% {
      transform: translateY(-30vh) translateX(10vw) scale(0.2);
    }
    20% {
      transform: translateY(-30vh) translateX(20vw) scale(0.2);
    }
    30% {
      transform: translateY(-34vh) translateX(30vw) scale(0.3);
    }
    40% {
      transform: translateY(-32vh) translateX(40vw) scale(0.3);
    }
    50% {
      transform: translateY(-30vh) translateX(50vw) scale(0.3);
    }
    60% {
      transform: translateY(-30vh) translateX(60vw) scale(0.3);
    }
    100% {
      transform: translateY(-30vh) translateX(110vw) scale(0.3);
    }
  }

  @keyframes fly-right-three {
    0% {
      transform: translateY(30vh) translateX(0vw) scale(0.1);
    }
    10% {
      transform: translateY(30vh) translateX(10vw) scale(0.2);
    }
    20% {
      transform: translateY(30vh) translateX(20vw) scale(0.2);
    }
    30% {
      transform: translateY(34vh) translateX(30vw) scale(0.3);
    }
    40% {
      transform: translateY(32vh) translateX(40vw) scale(0.3);
    }
    50% {
      transform: translateY(30vh) translateX(50vw) scale(0.3);
    }
    60% {
      transform: translateY(30vh) translateX(60vw) scale(0.3);
    }
    100% {
      transform: translateY(30vh) translateX(110vw) scale(0.3);
    }
  }

  @keyframes fly-right-four {
    0% {
      transform: translateY(300vh) translateX(0vw) scale(0.1);
    }
    10% {
      transform: translateY(300vh) translateX(10vw) scale(0.2);
    }
    20% {
      transform: translateY(300vh) translateX(20vw) scale(0.2);
    }
    30% {
      transform: translateY(304vh) translateX(30vw) scale(0.3);
    }
    40% {
      transform: translateY(302vh) translateX(40vw) scale(0.3);
    }
    50% {
      transform: translateY(300vh) translateX(50vw) scale(0.3);
    }
    60% {
      transform: translateY(300vh) translateX(60vw) scale(0.3);
    }
    100% {
      transform: translateY(300vh) translateX(110vw) scale(0.3);
    }
  }

  @keyframes fly-mobile-one {
    0% {
      transform: translateY(-70vh) translateX(0vw) scale(0.3);
    }
    10% {
      transform: translateY(-72vh) translateX(10vw) scale(0.4);
    }
    20% {
      transform: translateY(-74vh) translateX(20vw) scale(0.5);
    }
    30% {
      transform: translateY(-74vh) translateX(30vw) scale(0.6);
    }
    40% {
      transform: translateY(-74vh) translateX(40vw) scale(0.6);
    }
    50% {
      transform: translateY(-72vh) translateX(50vw) scale(0.6);
    }
    60% {
      transform: translateY(-70vh) translateX(60vw) scale(0.6);
    }
    100% {
      transform: translateY(-70vh) translateX(110vw) scale(0.6);
    }
  }

  @keyframes fly-mobile-two {
    0% {
      transform: translateY(-50vh) translateX(0vw) scale(0.1);
    }
    10% {
      transform: translateY(-50vh) translateX(10vw) scale(0.2);
    }
    20% {
      transform: translateY(-50vh) translateX(20vw) scale(0.2);
    }
    30% {
      transform: translateY(-54vh) translateX(30vw) scale(0.3);
    }
    40% {
      transform: translateY(-52vh) translateX(40vw) scale(0.3);
    }
    50% {
      transform: translateY(-50vh) translateX(50vw) scale(0.3);
    }
    60% {
      transform: translateY(-50vh) translateX(60vw) scale(0.3);
    }
    100% {
      transform: translateY(-50vh) translateX(110vw) scale(0.3);
    }
  }

  @media (max-width: 600px) {
    .bird-container-one {
      animation-duration: 8s;
      animation-name: fly-mobile-one;
    }

    .bird-container-two {
      animation-duration: 15s;
      animation-name: fly-mobile-two;
    }

    .bird-container-three {
      animation-duration: 6s;
    }

    .bird-container-three {
      animation-duration: 6s;
    }
  }
</style>
