<div>
  <div class="bird-container bird-container-one">
    <div class="bird bird-one"></div>
  </div>

  <div class="bird-container bird-container-two">
    <div class="bird bird-two"></div>
  </div>

  <div class="bird-container bird-container-three">
    <div class="bird bird-three"></div>
  </div>

  <div class="bird-container bird-container-four">
    <div class="bird bird-four"></div>
  </div>
</div>

<style>
  .bird {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
  }

  .bird-one {
    animation-duration: 1s;
    animation-delay: -0.5s;
  }

  .bird-two {
    animation-duration: 1s;
    animation-delay: -0.3s;
  }

  .bird-three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
  }

  .bird-four {
    animation-duration: 1s;
    animation-delay: -0.3s;
  }

  .bird-container {
    position: absolute;
    will-change: transform;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .bird-container-one {
    opacity: 0;
    z-index: 3;
    animation-delay: 3s;
    animation-duration: 17s;
    animation-name: fly-right-one;
  }

  .bird-container-two {
    z-index: -1;
    animation-delay: 0s;
    animation-duration: 25s;
    animation-name: fly-right-two;
  }

  .bird-container-three {
    opacity: 0;
    z-index: -1;
    animation-delay: 2s;
    animation-duration: 21s;
    animation-name: fly-right-three;
  }

  .bird-container-four {
    opacity: 0;
    z-index: -1;
    animation-delay: 6s;
    animation-duration: 18s;
    animation-name: fly-right-four;
  }

  @keyframes fly-right-one {
    0% {
      transform: translate(-10vw, 30vh) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(110vw, 10vh) scale(0.6);
      opacity: 1;
    }
  }

  @keyframes fly-right-two {
    0% {
      transform: translate(-10vw, 15vh) scale(0.4);
      opacity: 0.5;
    }

    100% {
      transform: translate(90vw, 10vh) scale(0.3);
      opacity: 0;
    }
  }

  @keyframes fly-right-three {
    0% {
      transform: translate(-10vw, 25vh) scale(0.4);
      opacity: 0.5;
    }

    100% {
      transform: translate(90vw, 15vh) scale(0.3);
      opacity: 0;
    }
  }

  @keyframes fly-right-four {
    0% {
      transform: translate(-10vw, 20vh) scale(0.2);
      opacity: 0.5;
    }

    100% {
      transform: translate(90vw, 10vh) scale(0.2);
      opacity: 0;
    }
  }

  @keyframes fly-cycle {
    100% {
      background-position: -900px 0;
    }
  }

  @media (max-width: 600px) {
    .bird-container-one {
      animation-duration: 10s;
    }
    .bird-container-two {
      animation-duration: 15s;
    }
    .bird-container-three {
      animation-duration: 13s;
    }
    .bird-container-four {
      animation-duration: 10s;
    }

    @keyframes fly-right-one {
      0% {
        transform: translate(-20vw, 30vh) scale(1);
        opacity: 1;
      }
      100% {
        transform: translate(110vw, 10vh) scale(0.6);
        opacity: 1;
      }
    }
  }
</style>
