<p class="description">
  From the high Andean plateau at the edge of the most dry desert in the world
  to the current in the central Pacific coast.
</p>

<style>
  .description {
    padding: 2ch;
    margin: 1ch 0;
    line-height: 1.6;
    margin-bottom: 5ch;
    border-radius: 1ch;
    color: var(--color-bg);
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
    background: var(--astro-gradient);
  }
</style>
