<div class="hero">
  <h1>
    <span class="text-gradient">Chilean</span>
    <span class="text-gradient" style="animation-delay: 1s;">Birds</span>
  </h1>

  <p class="description">
    From the high Andean plateau at the edge of the most dry desert in the world
    to the current in the central Pacific coast.
  </p>
</div>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    gap: 3ch;
  }
  h1 {
    text-align: center;
    font-size: var(--font-size-2xl);
    font-weight: 900;
    line-height: 1.1;
    color: var(--color-text);
  }

  .text-gradient {
    background-size: 100% 3000%;
    background-position-y: 100%;
    background-image: var(--astro-gradient);
    animation: pulse 6s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @keyframes pulse {
    0% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 100%;
    }
    100% {
      background-position-y: 0%;
    }
  }

  .description {
    padding: 2ch;
    margin: 1ch 0;
    line-height: 1.6;
    margin-bottom: 5ch;
    border-radius: 1ch;
    color: var(--color-bg);
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
    background: var(--astro-gradient);
  }
</style>
