<div class="hero">
  <h1>
    <span
      style="--content: 'Chilean'; --start-color: var(--color-secondary); --end-color: var(--color-primary); --delay: 0s;"
      >Chilean</span
    >
    <span
      style="--content: 'Birds'; --start-color: var(--color-primary); --end-color: var(--color-primary); --delay: 3s;"
      >Birds</span
    >
  </h1>

  <p class="description">
    From the high Andean plateau at the edge of the most dry desert in the world
    to the current in the central Pacific coast.
  </p>
</div>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    gap: 3ch;
  }
  h1 {
    text-align: center;
    font-size: var(--font-size-2xl);
    font-weight: 900;
    line-height: 1.1;
    color: var(--color-text);
  }

  span {
    position: relative;
  }

  span::before {
    position: absolute;
    content: var(--content);
    animation: pulse 6s ease infinite;
    animation-delay: var(--delay);
    background: linear-gradient(45deg, var(--start-color), var(--end-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .description {
    padding: 2ch;
    margin: 1ch 0;
    line-height: 1.6;
    margin-bottom: 5ch;
    border-radius: 1ch;
    color: var(--color-bg);
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
    background: var(--astro-gradient);
  }
</style>
