<div class="navbar">
  <a href="/">
    <div class="logo">
      <h1>Chilean <span class="text-gradient">Birds</span></h1>
    </div>
  </a>
</div>

<style>
  .navbar {
    top: 0px;
    z-index: 1;
    width: 100%;
    margin: 2ch 0;
    position: sticky;
    background-color: var(--color-bg);
  }

  .logo {
    color: var(--color-text);
  }

  a {
    text-decoration: none;
  }

  .text-gradient {
    font-weight: 900;
    background-size: 100% 200%;
    background-position-y: 100%;
    background-image: var(--astro-gradient);
    animation: pulse 4s ease-in-out infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes pulse {
    0% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
    100% {
      background-position-y: 0%;
    }
  }
</style>
