<div class="navbar">
  <a href="/">
    <img class="favicon" src="/favicon.svg" alt="Chilean birds" height="30" />
  </a>
  <a href="/taxonomy">
    <img class="tree" src="/tree.svg" alt="Taxonomic order" height="30" />
  </a>
</div>

<style>
  .navbar {
    top: 0px;
    z-index: 1;
    width: 100%;
    margin: 0 0 30px 0;
    position: sticky;
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .favicon {
    padding-left: 1rem;
  }

  .tree {
    padding-right: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--color-text);
  }
</style>
