<div class="scrollUp">
  <a href="#">
    <img src="scrollUp.svg" width="40px" height="40px" alt="Scroll up button" />
  </a>
</div>

<style>
  .scrollUp {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
</style>
