---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Tags from '../components/Tags.astro'

const { pTag } = Astro.props
const posts = await Astro.glob('../../species/*.md')
const filteredPosts = posts.filter(p => p.frontmatter.tag === pTag)
---

<Layout title="Chilean birds">
  <Tags active={pTag} />
  <p style="border-bottom: 1px solid var(--color-border); padding-bottom: 1ch;">
    {
      filteredPosts.length === 1
        ? `${filteredPosts.length} result.`
        : `${filteredPosts.length} results.`
    }
  </p>
  <Card posts={filteredPosts} />
</Layout>
