---
import { tagList } from './tagList.astro'

const { active } = Astro.props
---

<div class="tagsContainer">
  {
    tagList.map(item => {
      const temp = item.tag === active ? 'tag active' : 'tag'
      return (
        <a href={item.tag} class={temp}>
          {item.title}
        </a>
      )
    })
  }
</div>

<style>
  .tagsContainer {
    gap: 1ch;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4ch;
    justify-content: center;
  }

  .tag {
    padding: 1ch;
    color: #505050;
    font-size: medium;
    border-radius: 3ch;
    padding-inline: 2ch;
    background-size: 100%;
    text-decoration: none;
    background-color: #dddddd;
  }

  .tag:hover {
    background-color: #dddddd4d;
  }

  .active {
    color: var(--color-bg);
    background-image: var(--astro-gradient);
  }
</style>
