---
const { active } = Astro.props

const list = [
  {
    tag: '/',
    title: 'All',
  },
  {
    tag: 'EX',
    title: 'Extinct',
  },
  {
    tag: 'EW',
    title: 'Extinct in the wild',
  },
  {
    tag: 'CR',
    title: 'Critically endangered',
  },
  {
    tag: 'EN',
    title: 'Endangered',
  },
  {
    tag: 'VU',
    title: 'Vulnerable',
  },
  {
    tag: 'NT',
    title: 'Near threatened',
  },
  {
    tag: 'LC',
    title: 'Least concern',
  },
  {
    tag: 'DD',
    title: 'Data deficient',
  },
  {
    tag: 'NE',
    title: 'Not evaluated',
  },
]
---

<div class="tagsContainer">
  {
    list.map(item => {
      const temp = item.tag === active ? 'tag active' : 'tag'
      return (
        <a href={item.tag} class={temp}>
          {item.title}
        </a>
      )
    })
  }
</div>

<style>
  .tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    margin-bottom: 4ch;
  }

  .tag {
    padding: 1ch;
    font-size: medium;
    padding-inline: 2ch;
    color: rgb(80, 80, 80);
    background-size: 100%;
    text-decoration: none;
    border-radius: 3ch;
    border: 1px solid transparent;
    background-color: rgb(221, 221, 221);
  }

  .tag:hover {
    border: 1px solid var(--color-primary);
    background-color: rgb(221, 221, 221, 0.3);
  }

  .active {
    color: var(--color-primary);
    font-weight: 500;
    border: 1px solid var(--color-primary);
    background-color: transparent;
  }
</style>
